@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col col-lg-12 text-center">
        <div class="btn-groups" role="group" aria-label="...">
            <a href="~/demo/object" type="button" class="btn btn-default btn-lg btn-warning">Computer Vision</a>
            <a href="~/demo/TextInImages" type="button" class="btn btn-default btn-lg btn-warning">Text in images</a>
            <a href="~/demo/face"type="button" class="btn btn-default btn-lg btn-warning">Face detection</a>
            <a href="~/demo/emotion" type="button" class="btn btn-default btn-lg btn-warning">Emotion detection</a>
            <a href="~/demo/TextAnalytics" type="button" class="btn btn-default btn-lg btn-warning">Text Analytics</a>
        </div>
    </div>
</div>


<div class="jumbotron text-center"><!--
    <h1>Cognitive Services Demo</h1>
    <p class="lead">
        Give Your Apps a Human Side
    </p>
    <p>
        <a href="~/demo/object?img=/images/Object/1.jpg" class="btn btn-primary btn-lg">Computer Vision</a>
        <a href="~/demo/TextInImages?img=/images/Text/8.png" class="btn btn-primary btn-lg">Text in images</a>
        <a href="~/demo/face?img=/images/face/5.jpg" class="btn btn-primary btn-lg">Face detection</a>
        <a href="~/demo/emotion?img=/images/Emotions/pissed2.jpg" class="btn btn-primary btn-lg">Emotion detection</a>
        <a href="~/demo/TextAnalytics?text=I had a wonderful experience! The rooms were wonderful and the staff were helpful." class="btn btn-primary btn-lg">Text Analytics</a>
    </p>-->
</div>

<a href="http://slides.com/hboelman/codeandcomedy2017">View slides</a>
